<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.mapper.FavoritesMapper">
    <!--shop_favorites表中的列-->
    <sql id="favoritesBaseColumn">
         fav_id,
         goods_id,
         member_id,
         fav_type,
         goods_name,
         goods_jingle,
         main_image,
         fav_time
    </sql>


    <!--添加-->
    <insert id="addFavorites" parameterType="com.entity.ShopFavorites">
        INSERT INTO shop_favorites(
         goods_id,
         member_id,
         fav_type,
         goods_name,
         goods_jingle,
         main_image,
         fav_time
        ) VALUES(
                #{goodsId},
                #{memberId},
                #{favType},
                #{goodsName},
                #{goodsJingle},
                #{mainImage},
                #{favTime}
        )
    </insert>
    <insert id="addFavoritesSelective" parameterType="com.entity.ShopFavorites">
        insert into shop_favorites
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="favId != null">
                fav_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="favType != null">
                fav_type,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsJingle != null">
                goods_jingle,
            </if>
            <if test="mainImage != null">
                main_image,
            </if>
            <if test="favTime != null">
                fav_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="favId != null">
                #{favId},
            </if>
            <if test="goodsId != null">
                #{goodsId},
            </if>
            <if test="memberId != null">
                #{memberId},
            </if>
            <if test="favType != null">
                #{favType},
            </if>
            <if test="goodsName != null">
                #{goodsName},
            </if>
            <if test="goodsJingle != null">
                #{goodsJingle},
            </if>
            <if test="mainImage != null">
                #{mainImage},
            </if>
            <if test="favTime != null">
                #{favTime},
            </if>
        </trim>
    </insert>
    <!--根据id删除数据-->
    <delete id="deleteById" parameterType="integer">
        DELETE FROM  shop_favorites WHERE
        fav_id = #{favId}
    </delete>

    <!--根据id批量删除数据-->
    <delete id="deleteByIds" parameterType="java.lang.String">
          delete FROM  shop_favorites WHERE fav_id in
          <foreach item="idItem" collection="array" open="(" separator="," close=")">
            #{idItem}
          </foreach>
    </delete>
    <!--根据id修改数据-->
    <update id="updateById" parameterType="com.entity.ShopFavorites">
        UPDATE shop_favorites
        <set>
          fav_id=#{favId},
          goods_id=#{goodsId},
          member_id=#{memberId},
          fav_type=#{favType},
          goods_name=#{goodsName},
          goods_jingle=#{goodsJingle},
          main_image=#{mainImage},
          fav_time=#{favTime}
        </set>
        WHERE
           fav_id = #{favId}
    </update>

    <update id="updateSelectiveById" parameterType="com.entity.ShopFavorites">
        UPDATE shop_favorites
        <set>
    <if test="favId != null">
          fav_id = #{favId},
    </if>
    <if test="goodsId != null">
          goods_id = #{goodsId},
    </if>
    <if test="memberId != null">
          member_id = #{memberId},
    </if>
    <if test="favType != null">
          fav_type = #{favType},
    </if>
    <if test="goodsName != null">
          goods_name = #{goodsName},
    </if>
    <if test="goodsJingle != null">
          goods_jingle = #{goodsJingle},
    </if>
    <if test="mainImage != null">
          main_image = #{mainImage},
    </if>
    <if test="favTime != null">
          fav_time = #{favTime},
    </if>
    </set>
        WHERE
      fav_id = #{favId}
    </update>
    <!--根据id查询一条数据-->
    <select id="findOne" resultMap="favoritesMap" parameterType="integer">
        select
        <include refid="favoritesBaseColumn"/>
        from
            shop_favorites
        WHERE
          fav_id = #{favId}
    </select>
    <!--查询数据-->
    <select id="searchFavorites" parameterType="map" resultMap="favoritesMap">
        SELECT
        <include refid="favoritesBaseColumn"/>
        FROM shop_favorites
        <include refid="favoritesBaseWhereSql"/>
    </select>
    <!--查询数据-->
    <select id="findFavorite" parameterType="com.entity.ShopFavorites" resultMap="favoritesMap">
        SELECT
        <include refid="favoritesBaseColumn"/>
        FROM shop_favorites
        <include refid="favoritesBaseWhereSql"/>
    </select>
    <!--基础查询条件-->
    <sql id="favoritesBaseWhereSql">
            <where>
                <if test="favId !=null">
                    AND fav_id = #{favId}
                </if>
                <if test="goodsId !=null">
                    AND goods_id = #{goodsId}
                </if>
                <if test="memberId !=null">
                    AND member_id = #{memberId}
                </if>
                <if test="favType !=null">
                    AND fav_type = #{favType}
                </if>
                <if test="goodsName !=null">
                    AND goods_name = #{goodsName}
                </if>
                <if test="goodsJingle !=null">
                    AND goods_jingle = #{goodsJingle}
                </if>
                <if test="mainImage !=null">
                    AND main_image = #{mainImage}
                </if>
                <if test="favTime !=null">
                    AND fav_time = #{favTime}
                </if>
            </where>
    </sql>

         <!-- 通用查询映射结果 -->
    <resultMap id="favoritesMap" type="com.entity.ShopFavorites">
            <id column="fav_id" property="favId"/>
            <result column="goods_id" property="goodsId"/>
            <result column="member_id" property="memberId"/>
            <result column="fav_type" property="favType"/>
            <result column="goods_name" property="goodsName"/>
            <result column="goods_jingle" property="goodsJingle"/>
            <result column="main_image" property="mainImage"/>
            <result column="fav_time" property="favTime"/>
     </resultMap>
</mapper>
