<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.mapper.GoodsMapper">
    
 	 <!-- 分页查询数据-->
 	 <select id="pageData" resultMap="goodsMap" >
 	 SELECT <include refid="mysql"></include> FROM shop_goods  
 	 </select>
	<!-- 增加数据 -->
	
	<!-- 根据id查询数据-->
 	 <select id="findOne" resultMap="goodsMap" parameterType="int">
 	 SELECT <include refid="mysql"></include> FROM shop_goods  where goods_id=#{goodsId}
 	 </select>
 	 <!-- 根据商品id和库存查询 -->
 	 <select id="checkout" resultMap="goodsMap" parameterType="map">
 	 SELECT <include refid="mysql"></include> FROM shop_goods
 	 <where>
 	 <if test="goodsId!=null">
 	 and goods_id=#{goodsId}
 	 </if>
 	 <if test="goodsStorage!=null">
 	 and goods_storage>=#{goodsStorage}
 	 </if>
 	 </where>
 	 </select>
	
	<insert id="addGood" parameterType="com.entity.ShopGoods">
	insert into shop_goods (goods_name,goods_jingle,gc_id,brand_id,goods_price,goods_marketprice,goods_serial,
 	goods_click,goods_salenum,goods_collect,goods_spec,goods_storage,main_image,goods_state,goods_verify,
 	areaid_1,areaid_2,color_id,transport_id,goods_freight,goods_vat,goods_commend,evaluation_good_star,evaluation_count,
 	created_time,updated_time) values(#{goodsName},#{goodsJingle},#{gcId},#{brandId},#{goodsPrice},
 	#{goodsMarketprice},#{goodsSerial},#{goodsClick},#{goodsSalenum},#{goodsCollect},#{goodsSpec},#{goodsStorage},
 	#{mainImage},#{goodsState},#{goodsVerify},#{areaid1},#{areaid2},#{colorId},#{transportId},#{goodsFreight},
 	#{goodsVat},#{goodsCommend},#{evaluationGoodStar},#{evaluationCount},#{createdTime},#{updatedTime})
	</insert>
	<!-- 修改商品信息 -->
	<update id="updateGood" parameterType="com.entity.ShopGoods">
	UPDATE shop_goods set goods_name=#{goodsName},goods_jingle=#{goodsJingle},gc_id=#{gcId},brand_id=#{brandId},goods_price=#{goodsPrice},goods_marketprice=#{goodsMarketprice},goods_serial=#{goodsSerial},
 	goods_click=#{goodsClick},goods_salenum=#{goodsSalenum},goods_collect=#{goodsCollect},goods_spec=#{goodsSpec},goods_storage=#{goodsStorage},main_image=#{mainImage},goods_state=#{goodsState},goods_verify=#{goodsVerify},
 	areaid_1=#{areaid1},areaid_2=#{areaid2},color_id=#{colorId},transport_id=#{transportId},goods_freight=#{goodsFreight},goods_vat=#{goodsVat},goods_commend=#{goodsCommend},evaluation_good_star=#{evaluationGoodStar},evaluation_count=#{evaluationCount},
 	created_time=#{createdTime},updated_time=#{updatedTime} WHERE goods_id=#{goodsId}
	</update>
	<!-- 物理删除数据 -->
	<delete id="deleteGoods" parameterType="int">
	delete from shop_goods where goods_id=#{goodsId}
	</delete>
	
	<!-- 逻辑删除 -->
	<update id="isDel" parameterType="com.entity.ShopGoods">
	update shop_goods set is_del=#{isDel} where goods_id=#{goodsId}
	</update>
	<!-- 查询商品总数 -->
    <select id="getCount" resultType="int">
    select COUNT(1) from shop_goods
    </select>	
 	<sql id="mysql">
 	goods_id,goods_name,goods_jingle,gc_id,brand_id,goods_price,goods_marketprice,goods_serial,
 	goods_click,goods_salenum,goods_collect,goods_spec,goods_storage,main_image,goods_state,goods_verify,
 	areaid_1,areaid_2,color_id,transport_id,goods_freight,goods_vat,goods_commend,evaluation_good_star,evaluation_count,
 	is_del,created_time,updated_time
 	</sql>
 	<resultMap type="com.entity.ShopGoods" id="goodsMap">
 	    <id column="goods_id" property="goodsId"/>
 	    <result column="goods_name" property="goodsName"/>
 		<result column="goods_jingle" property="goodsJingle"/>
 		<result column="gc_id" property="gcId"/>
 		<result column="brand_id" property="brandId"/>
 		<result column="goods_price" property="goodsPrice"/>
 		<result column="goods_marketprice" property="goodsMarketprice"/>
 		<result column="goods_serial" property="goodsSerial"/>
 		<result column="goods_click" property="goodsClick"/>
 		<result column="goods_salenum" property="goodsSalenum" />
 		<result column="goods_collect" property="goodsCollect" />
 		<result column="goods_spec" property="goodsSpec" />
 		<result column="goods_storage" property="goodsStorage" />
 		<result column="main_image" property="mainImage" />
 		<result column="goods_state" property="goodsState" />
 		<result column="goods_verify" property="goodsVerify" />
 		<result column="areaid_1" property="areaid1" />
 		<result column="areaid_2" property="areaid2" />
 		<result column="color_id" property="colorId" />
 		<result column="transport_id" property="transportId"/>
 		<result column="goods_freight" property="goodsFreight"/>
 		<result column="goods_vat" property="goodsVat"/>
 		<result column="goods_commend" property="goodsCommend"/>
 		<result column="evaluation_good_star" property="evaluationGoodStar"/>
 		<result column="evaluation_count" property="evaluationCount"/>
 		<result column="is_del" property="isDel"/>
 		<result column="created_time" property="createdTime"/>
 		<result column="updated_time" property="updatedTime"/>
 	</resultMap>
</mapper>